.appointment_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: calc(var(--h7) * 2);
}

.appointment_btn {
    background-color: rgb(var(--brand-500));
    color: rgb(var(--brand-100));
    border: none;
    border-radius: calc(var(--h7) / 1.5);
    padding: calc(var(--h7) / 1.5) calc(var(--h6) / 1.5);
    font-size: var(--h7 );
    font-family: var(--font-lexend-deca);
    font-weight: var(--ld-sb);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.appointment_btn:hover {
    background-color: rgb(var(--brand-600));
    color: rgb(var(--brand-100));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}


@media (min-width: 768px) {
    .appointment_btn {
        margin-inline: 0;
    }
}