:root {
  /* Color Palette */
  --brand-100: 212 237 246;
  --brand-200: 168 222 241;
  --brand-300: 119 201 230;
  --brand-400: 70 180 220;
  --brand-500: 36 152 195;
  --brand-600: 8 130 174;
  --brand-700: 8 99 132;
  --brand-800: 1 65 89;
  --brand-900: 0 42 58;

  /* Font Sizes */
  --fs-12: 0.75rem;
  --fs-16: 1rem;   
  --fs-20: 1.25rem;
  --fs-24: 1.5rem; 
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-44: 2.75rem;

  /* Lexend Deca weights */
  --ld-md: 500;  /* medium */
  --ld-sb: 600;  /* semibold */
  --ld-bd: 700;  /* bold */

  /* Overlock weights */
  --ol-rg: 400;  /* regular */
  --ol-bd: 700;  /* bold */
  --ol-bk: 900;  /* black */

  /* Mobile/Default Font Sizes */
  --h1: var(--fs-36);
  --h2: var(--fs-32);
  --h3: var(--fs-28);
  --h4: var(--fs-24);
  --h5: var(--fs-20);
  --h6: var(--fs-16);
  --h7: var(--fs-12);
}

@media (min-width: 768px) {
  :root { /* Tablet Font Sizes */
    --h1: var(--fs-40);
    --h2: var(--fs-36);
    --h3: var(--fs-32);
    --h4: var(--fs-28);
    --h5: var(--fs-24);
    --h6: var(--fs-20);
    --h7: var(--fs-16);
  }
}

@media (min-width: 1024px) {
  :root { /* Desktop Font Sizes */
    --h1: var(--fs-44);
    --h2: var(--fs-40);
    --h3: var(--fs-36);
    --h4: var(--fs-32);
    --h5: var(--fs-28);
    --h6: var(--fs-24);
    --h7: var(--fs-20);
  }
}

h1, h2, h3, h4, h5, h6, h7 {
  margin-bottom: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

h7 {
  font-size: var(--h7);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--brand-900));
  background: 
    rgb(var(--brand-100));
  font-family: var(--font-lexend-deca), system-ui, sans-serif;

  /* For the background tile texture */
  background-image: url("/TDS_logo_bw.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: repeat;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--h7) 0;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(var(--brand-200));

  background-image: url("/TDS_toothbrush_bw.svg");
  background-size: 40px 40px;
  background-position: center;
  background-repeat: repeat;

  border: 4px solid rgb(var(--brand-500));
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  padding: 1.5rem;

  width: clamp(300px, 60%, 480px);
  max-height: 90vh;
  overflow-y: auto;
}


