.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  margin: var(--h7) var(--h6);
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
